# Variables à surcharger pour la production
# Copie ce fichier en .env.prod et remplis les valeurs

SECRET_KEY=change-moi-avec-une-vraie-cle-secrete-longue-et-aleatoire
DEBUG=0
ALLOWED_HOSTS=ton-domaine.com,www.ton-domaine.com

DB_HOST=db
DB_NAME=abalone_db
DB_USER=postgres
DB_PASSWORD=change-moi-mot-de-passe-fort
REDIS_HOST=redis
